<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Fellow</title>
    <%- include("cdn/style") -%>
    <link rel="stylesheet" href="./css/styles.css"  >
    <link rel="stylesheet" href="./css/profile.css"  >
    <link rel="stylesheet" href="./css/active.css"  >
</head>
<body>

   <!-- Navbar content -->
    <div class="nav-wrapper">
      <nav class="navbar navbar-expand navbar-light" style="background-color:  #081120;" aria-expanded="false">
        <!-- LOGO  -->
        <a class="navbar-brand" href="#">
          <img style="width: 50px; height: 50px;" src="./images/logo-icon.png">
          <span class="align-bottom">CF</span> 
        </a>
        <!-- navbar menu -->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link text-white dropdown-toggle" href="#" id="DroownActive" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                <i class="fa fa-toggle-on" style="font-size:x-large; margin-left: 1.5rem;"></i></a>
                <div class="dropdown-menu active-dropdown" aria-labelledby="DropdownActive">
                  <div class="arrow"></div>
                  <ul class="coloum">
                    <li class="dropdown-item list">
                      <div class="list-img">
                        <img src="./images/my.jpg" alt="profile">
                      </div>
                      <div class="list-content">
                        <div><strong>Rohit Kumar</strong></div>
                        <div>Active now</div>
                        <div class="online-list"></div>
                      </div>
                      <div class="list-btn">
                        <button class="btn btn-primary">chat</button>
                      </div>
                    </li>
                    <li class="dropdown-item list">
                      <div class="list-img">
                        <img src="./images/my.jpg" alt="profile">
                      </div>
                      <div class="list-content">
                        <div><strong>Smile Active</strong></div>
                        <div>Active now</div>
                        <div class="online-list"></div>
                      </div>
                      <div class="list-btn">
                        <button class="btn btn-primary">Chat</button>
                      </div>
                    </li>
                  </ul>
                  </div>
               </li>

           <!-- //search user -->
            <li class="nav-item dropdown">
              <a class="nav-link text-white dropdown-toggle" href="#" id="DroownExplore" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                <i class="fa fa-search-plus" style="font-size:x-large; margin-left: 1.5rem;"></i></a>
                <div class="dropdown-menu explore-dropdown" aria-labelledby="DropdownExplore">
                  <div class="arrow"></div>
                  <div class="input-group pt-1 p-2">
                    <input type="text" class="form-control" placeholder="search..."  id="userSearch"
                     aria-label="Username" autocomplete="off" aria-describedby="basic-addon1">
                  </div>
                  <ul class="coloum" id="searchResult">
                     <!-- result will here -->
                  </ul>
                  </div>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-white" href="chat" >
                <i class="fa fa-paper-plane" style="font-size:x-large; margin-left: 1.5rem;"></i></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-white " href="profile" >
                    <i class="fa fa-user-circle" style="font-size:x-large; margin-left: 1.5rem;"></i></a>
            </li>
          </ul>
        
      </nav>
    </div>

    <div class="container text-center mt-5">
        <h2>oops, <strong>404</strong> Page not found.</h2>
    </div>
    
<footer class="fixed-bottom footer">© 2020 COLLEGE FELLOW</footer>


<%- include("cdn/script") -%>

<script>
  $(document).ready(()=>{
     
    $('#userSearch').on("keyup", function() {
       const username = $(this).val();
       $.post('/explore', { data: username },(res)=>{
            var Data = '';
            $.each(res, (key, value) => {
                    Data += `<a href='/${value.username}' ><li class='dropdown-item list'>  <div class='list-img'>`;
                    Data += `<img src='uploads-profile/${ value.photo }'  alt='profile'> </div>`;
                    Data += "<div class='list-content'> <div><strong>" + value.username + "</strong></div>";
                    Data += "<div>" + value.collegeName + "</div>";
                    Data += "</div>  </li> </a>"; 
                });
                $('#searchResult').html(Data);
            
        });
    });   
  });
</script>
</body>
</html>